fastapi
uvicorn
pydantic
langchain
langchain_text_splitters
langgraph
langgraph-checkpoint-postgres
sse-starlette
langchain-groq
langchain-google-genai
psycopg[binary,pool]
langchain-postgres
python-frontmatter
tiktoken
python-dotenv
tenacity
langchain-huggingface
sentence-transformers
torch